*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:  monospace;
    color: white;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;  
    overflow-x: hidden;
    
}

#page1{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    background-color: #070307;
    padding: 0px 35px;
    overflow: hidden;
    
    
}

#line{
    height: 60px;
    width: 100%;
    position: absolute;
    /* background-color: antiquewhite   ; */
    border-bottom: 2px solid gray;
    /* margin-right: 100px; */

}

nav{
    text-transform: uppercase;
    height: 60px;
    width: 100%;
    /* border-bottom: 2px solid gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-item{
    cursor: pointer;
}

nav .right h1{
    cursor: pointer;
}
nav .left h3{
    cursor: pointer;
}

nav .mid{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
nav .mid h3{
    color: rgb(218, 216, 216);
    font-size: 16px;
    transition: all 0.1s ease;
    /* transition-delay: 1; */
}

nav .mid h3:hover{
    color: white;
    cursor: pointer;
    scale: 1.1;
}


.container1{
    height: 60%;
    width: 100%;
    margin: 45px 0px;
    padding: 0px 50px;
    display: flex;

}

#left{
    height: 100%;
    width: 50%;
    
}

#up{
    text-transform: uppercase;
    
    height: 88%;
    width: 100%;
   
}

#up h1{
    font-size: 95px;
    font-weight: 900;
    position: relative;
    display: inline-block;
    white-space: 2px;
}


#up span img{
    height: 70px;
    width:70px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -22px;
    /* margin: 2px; */
    border: 3px solid black;
}
#up h1 span img :nth-child(1){
    height: 60px;
    margin-left: 100px;
    width:60px;
    object-fit: cover;
    border-radius: 50%;
    
}
#down{
    
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid gray;
}

#down .right-c{
    width: 139px;
    font-weight: 500;
}

.left-c,.right-c{
    font-weight: 800;
    margin: 15px 8px;
}



#right{  
    height: 100%;
    width: 30%;
    /* background-color: aqua; */
    border-radius: 30px;
    margin-left:140px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

#right .curve{
    height: 70px;
    width: 80px;
    background-color: black;
    position: relative;
    border-radius: 30px;
    bottom: 170px;
    left: 173px;
}

#right img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    z-index: 0;
}

#right .img-body{
    z-index: 1;
    background: transparent;
    border-radius: 30px;
    padding: 20px 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    color: black;
    /* border: 10px solid green; */
    
}

#right .img-body .boost{
    
    color: black;
    /* font-style: bold; */
    font-weight: bolder;
    opacity: 90%;
    height: 70px;
    width: 80px;
    margin-left: 80%;
    font-size: 15px;
    /* border: 2px solid black; */
}

#right .call{
margin: 230px 0px;
 height: 40px;
 width: 100%;
 padding: 0px 10px;
 display: flex;
 justify-content: center;
 align-items: center;

}

#right .call input{
    padding: 10px 20px;
    background: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.822);
    color: black;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    font-weight: bold;
}

input::placeholder{
    color: black;
    font-weight: 800;
}

#right .call i{
    color: black;
    position: absolute;
    right: 50px;
}

#page1-btm{
    width: 100vw;
    height: 100px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#scroll{
    width: 180px;
    height: 50px;
    padding: 10px 0px;
    border-radius: 30px;
    text-align: center;
    /* border: 2px solid white; */
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#scroll i{
    margin: 0px 5px;
}

#scroll:hover{
    cursor: pointer;
}






/* Page 2 Designing */

#page2{
     height: 100vh;
     width: 100vw;
     background-color: rgb(148, 141, 141);
     background-color: #070307;
     overflow: hidden;
}

#main-2{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
}

.p2-head{
    height: 40%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 250px;
    /* padding-top: 80px; */
}

.p2-head h1{
    font-size: 60px;
    /* line-height: 1.25em; */
}

#card-container{
    height: 100vh;
    width: 100vw;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center ; */
    
}


.card{
    height: 330px;
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 10px;
    margin: 20px 0px;
    /* transition: all ease 5s; */
}

.card:hover{
background-color: #e0aed915;
/* border: 1px solid white; */
/* transition: all ease 1s; */

}

.card-head{
    font-size: 16px;
    margin: 5px 2px;
    
}

.card-head h1{
    display: inline-block;
}

.short-note{
    margin: 10px 2px;
    opacity: 50%;
    font-weight: bold;
    font-size: 15px;
}

#card-container .img{
    height: 80%;
    width: 100%;
    /* background-color: coral; */
    padding: 5px 30px;
    padding-left: 80px;
}

